<article class="mx-auto">
  <h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl">
    <%= @article.title %>
  </h1>
  <div class="mt-12 prose prose-slate" data-controller="markdown"><div class="hidden"><%= @article.content %></div></div>
</article>